<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>롤 챔피언 추천</title>
</head>
<body>
    <br />
    <br />
    <div>
      <center>
        <h1>롤 챔피언 추천 시스템</h1>
      </center>
    </div>
    <div style="float: left; width: 50%">
      <center>
        <h3>첫 번째 챔피언</h3>
        <form action="http://127.0.0.1:5000/firstChamp", method="POST">
          <input type="text" name="firstChamp" size="30">
          <input type="submit" value="submit">
        </form>
      </center>
    </div>
    <div style="float: left; width: 50%">
      <center>
        <h3>두 번째 챔피언</h3>
        <input type="text" name="secondChamp" size="30">
        <input type="submit" value="submit">
      </center>
    </div>
</body>
</html>